.filter .content {
    text-align: center;
}

.filter-tag {
    display: inline-block;
    // height: 30px;
    // margin-bottom: -2px;
    input[type=checkbox], input[type=radio] {
        display: none;
    }
    input + label {
        position: relative;
        display: inline-block;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        background: transparent;
        min-width: 88px;
        // border: 1px solid $color-light-gray;
        height: $filter-tag-height;
        line-height: $filter-tag-height;
        padding: 0 $padding/2;
        border-radius: 15px;
        margin: $padding/20 $padding/10;
        // transition: $transition-time/8;
        cursor: pointer;
        text-align: center;
        background: rgba($color-light-gray, 0.2);
        &:hover {
            background: rgba($color-light-gray, 0.3);
        }
    }
    .brand-filters & {
        height: 46px;
        width: 86px;
        display: inline-block;
        padding: 0;
        margin: -2px 2px;
        border-radius: 2px;
        overflow: hidden;
        input + label {
            border-radius: 0px;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            // line-height: 46px;
            text-transform: uppercase;
            padding: 0;
            margin: 0;
            svg {
                height: 100%;
            }
            span {
                line-height: 14px;
                display: flex;
            }
        }
    }
    .channels-filters & {
        // display: flex;
        // flex-grow: 1;
        label {
            // width: 100%;
            font-size: 12px;
            text-align: left;

            i {
                font-size: 13px;
                margin: 0 2px;
            }
        }
    }
}

.channels-filters {
    // display: flex;
    // flex-wrap: wrap;
}

input:checked + label {
    background-color: rgba($color-light-gray, 0.8);
    &:hover {
        background: rgba($color-light-gray, 0.9);
    }
    .brand-filters & {}
}

input:checked + label {
    .US & {
        background-color: $color-US;
        border-color: $color-US;
    }
    .US-EAST & {
        background-color: $color-US-EAST;
        border-color: $color-US-EAST;
    }
    .US-WEST & {
        background-color: $color-US-WEST;
        border-color: $color-US-WEST;
    }
    .CALA & {
        background-color: $color-CALA;
        border-color: $color-CALA;
    }
    .CANADA & {
        background-color: $color-CANADA;
        border-color: $color-CANADA;
    }
    .BRAND & {
        background-color: $color-BRAND;
        border-color: $color-BRAND;
    }
    .PORTFOLIO & {
        background-color: $color-PORTFOLIO;
        border-color: $color-PORTFOLIO;
    }
    .LOYALTY & {
        background-color: $color-LOYALTY;
        border-color: $color-LOYALTY;
    }
}

input.search-box {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 10px 20px;
    font-size: 14px;
    color: $color-white;
    font: 300 16px/1.6 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
    text-transform: uppercase;
    // margin-bottom: 5px;
    background-color: rgba(darken($color-light-gray, 20%), 0.8);
    // border: 1px solid $color-light-gray;
    border: none;
    &:focus {
        &::-webkit-input-placeholder {
            color: transparent;
        }
        outline: none;
        // border: 1px solid $color-accent;
        border: none;
        // + i:before {
        //     content: '\e6ad';
        // }
    }

}

#BRAND_SEARCH {
    margin: $padding/2 0;
    // padding-right: $padding/2;
}

#search_brand_box {
    border-radius: 18px;
}

.input-icon {
    position: relative;
    i {
        position: absolute;
        right: 10px;
        top: 0;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        color: $color-lighter-gray;
        &.kill:hover {
            cursor: pointer;
            color: $color-lightest-gray;
        }
    }
}

#view-share {
    margin-left: 10px;
    transform: translateY(2px);
    width: 10px;
    display: inline-block;
    padding: 0;
    opacity: 0;
}
