.filter .content {
    text-align: center;
}

.filter-tag {
    display: inline-block;

    // height: 30px;
    // margin-bottom: -2px;
    input[type=checkbox], input[type=radio] {
        display: none;
    }

    input + label {
        white-space: nowrap;
        position: relative;
        display: inline-block;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        background: transparent;

        // min-width: 88px;
        // border: 1px solid $color-light-gray;
        height: $filter-tag-height;
        line-height: $filter-tag-height;
        padding: 0 ($padding / 2);
        border-radius: 15px;
        margin: ($padding / 20) ($padding / 10);

        // transition: $transition-time/8;
        cursor: pointer;
        text-align: center;
        background: rgba($color-light-gray, 0.1);

        &:hover {
            background: rgba($color-light-gray, 0.2);
        }
    }

    .brand-filters & {
        height: 46px;
        width: 86px;
        display: inline-block;
        padding: 0;
        margin: -2px 2px;
        border-radius: 2px;
        overflow: hidden;

        input + label {
            border-radius: 0px;
            height: 100%;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            // line-height: 46px;
            text-transform: uppercase;
            padding: 0;
            margin: 0;

            svg {
                height: 100%;
            }

            span {
                line-height: 14px;
                display: flex;
            }
        }
    }

    .channels-filters & {
        // display: flex;
        // flex-grow: 1;
        label {
            // width: 100%;
            font-size: 12px;
            text-align: left;

            i {
                font-size: 13px;
                margin: 0 2px;
            }
        }
    }
}

input:checked + label {
    background-color: rgba($color-light-gray, 0.6);

    &:hover {
        background: rgba($color-light-gray, 0.7);
    }

    .brand-filters & {}
}

input.search-box {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 10px 20px;
    font-size: 14px;
    color: $color-white;
    font: 300 16px/1.6 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
    text-transform: uppercase;

    // margin-bottom: 5px;
    // background-color: rgba(darken($color-light-gray, 20%), 0.8);
    background-color: rgba(darken($color-medium-gray, 5%), 1);

    // border: 1px solid $color-light-gray;
    border: none;

    &:focus {
        &::-webkit-input-placeholder {
            color: transparent;
        }

        outline: none;

        // border: 1px solid $color-accent;
        border: none;

        // + i:before {
        //     content: '\e6ad';
        // }
   
    }
}

#BRAND_SEARCH {
    margin: ($padding / 2) 0;

    // padding-right: $padding/2;
}

#search_brand_box {
    border-radius: 18px;
}

.input-icon {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 0;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        color: $color-lighter-gray;

        &.kill:hover {
            cursor: pointer;
            color: $color-lightest-gray;
        }
    }
}

#view-share {
    margin-left: 10px;
    transform: translateY(2px);
    width: 10px;
    display: inline-block;
    padding: 0;
    opacity: 0;
}

.form-input--no-margin {
    margin-bottom: 0 !important;
}

.form-input {
    margin-bottom: 1.5em;

    input[type="text"], textarea {
        font: 300 16px/1.6 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
        width: 100%;
        border: none;
        height: 2em;
        background: transparent;
        border-bottom: 2px solid $color-medium-gray;
        color: $color-white;
        font-size: 1.5em;

        &:focus {
            border-bottom: 2px solid $color-accent;
        }

        ::selection {
            background: $color-accent;
            color: #fff;
            text-shadow: none;
        }

        ::-moz-selection {
            background: $color-accent;
            color: #fff;
            text-shadow: none;
        }
    }

    textarea {
        padding: 0.5em;
        font-size: 1em;
        background: rgba($color-medium-gray, 0.5);
        height: 6em;
        resize: none;
    }

    small.message {
        margin-top: -1em;
        display: block;
        border-top: 1px solid $color-medium-gray;
        color: $color-light-gray;
        font-size: 0.75em;
    }

    h3 {
        width: 100%;
        display: block;
        margin-bottom: 0.5em;
    }

    &.form-input--small {
        font-size: 1em;
    }
}

.form-input--tags {
    width: 100%;
    margin-bottom: 1em;

    .form-input--tags-wrapper {
        position: relative;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    display: flex;
    flex-wrap: wrap;

    input {
        display: none;

        &:checked + label {
            background: $color-medium-gray;
        }
    }

    label {
        cursor: pointer;
        background: transparent;
        border: 1px solid $color-medium-gray;
        width: 100%;
        white-space: nowrap;
        font-size: 12px;
        text-align: center;
        border-radius: 30px;
        padding: 3px 10px;
        min-width: 100%;
    }
}

$color-editable: $color-medium-gray;

// $color-editable: $color-yellow;
// $color-editable: $color-PORTFOLIO;

.modal .event-info *.editable-field,
.tippy-tooltip-content *.editable-field,
.contact.editable-field,
.brand.editable-field,
.channel.editable-field,
.event-channels .editable-field,
*.flatpickr-input {
    cursor: pointer;
    font-size: inherit;
    font: inherit;
    border: none;
    background: rgba(lighten($color-editable, 15%), 0.15) !important;
    resize: none;
    text-align: center;
    line-height: inherit;
    border-radius: 4px;

    &:focus,
    .flatpickr-input.active {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 30px 0 rgba($color-medium-gray, 0.3), inset 0 0 0 1px rgba($color-blue, 0.5) !important;
        background: rgba($color-white, 0.15) !important;
    }

    &.selected {
        background: rgba(lighten($color-lightest-gray, 15%), 0.25) !important;
    }
}

.tag.editable-field {
    // max-width: 49%;
    // width: 49%;
    min-width: 25%;

    // &.region,
    // &.market_scope,
    // &.segment {
    // }
}

.other-channels.editable-field {
    color: $color-white;
}

.description,
.activity {
    .editable-field {
        min-width: 60%;
        width: 100%;
    }
}

.brand.editable-field,
.channel.editable-field {
    width: auto;
    min-width: 0;
    margin: 2px;
}

.channel.editable-field {
    display: inline-block;
    padding-right: 5px;

    i {
        background: transparent !important;
    }
}

.modal .event-info .tag.editable-field {
    font-size: 14px;
}

.editable-field--date, .flatpickr-input {
    width: 85px;
}

.flatpickr-calendar {
    background: $color-darker-gray !important;
    box-shadow: none !important;
}

.editable .event-info {
    &:before {
        display: none;
    }

    .description,
    .activity {
        position: relative;
        padding-top: $padding / 2;

        // margin-top: $padding/2;
        &:before {
            content: 'Description';
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 8px;
            line-height: 1;
            font-weight: 600;
            color: #c2c2c2;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            overflow: visible;
        }
    }

    .description {
        padding-bottom: 0;

        &:before {
            content: "Description";
        }
    }

    .activity:before {
        content: "Campaign Name";
    }
}

.add-brand,
.edit-channels {
    background: lighten($color-medium-gray, 15%) !important;
    border-radius: 4px;
    padding: 0;
    position: relative;

    // max-width: 30px !important;
    // width: 30px !important;
    width: auto;
    max-height: 30px;
    height: 30px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 14px;
        margin-right: 10px;

        &:hover {
            background: inherit !important;
        }
    }

    &:hover {
        background: lighten($color-medium-gray, 20%) !important;
    }
}

.add-brand {
    margin-top: 5px;
}

.edit-channels {
    margin: 10px 5px;
    padding: 0 10px;

    i {
        width: auto;
        min-width: 0 !important;
    }
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: $color-accent !important;
    border-color: $color-accent !important;
}

.flatpickr-current-month {
    padding-top: 6px;
    font-size: 110%;
}

.tippy-tooltip--big {
    padding: .6rem !important;
}

.searchInput {
    position: relative;

    input {
        font: 300 16px/1.6 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
        flex-grow: 1;
        border: none;
        background: transparent;
        border-bottom: 2px solid #666666;
        color: #ffffff;
        margin-top: -2px;
        margin-left: -25px;
        padding-left: 25px;

        &:active, &:focus {
            border: none;
            background: transparent;
            border-bottom: 2px solid $color-accent;
        }
    }

    .erase {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
        height: 100%;
        width: 25px;

        i {
            position: absolute;
            font-size: 10px;
        }

        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50px;
            background: #404040;
            display: block;
        }
    }
}

:not(.editable-field)::-webkit-input-placeholder,
.editable-field.other-channels::-webkit-input-placeholder {
    color: rgba(white, 0.35);
}
