@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

/** initial setup **/

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
}

.hidden {
    display: none !important;
}
