.main {

    width: 100%;
    position: fixed;
    background: $color-black;

    .collapsed & {
        width: 100%;
        overflow: auto;

        &:before {
            opacity: 0;
            width: 100%;
            pointer-events: none;
        }

        .content-frame {
            width: 100%;
            transition: width 0s;
        }
    }

    @media screen and (max-width: $desktop-min) {
        width: calc(100% - #{$sidebar-collapsed});

        .content-frame {
            width: 100%;
        }

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: rgba($color-black, 0.5);
            z-index: 110;
            transition: opacity $transition-time;
        }
    }

    height: 100vh;
    padding-top: $header-height;
    // transition: $transition-time/2;

    .content {
        position: relative;
        height: calc(100vh - (2 * #{$padding}) - #{$header-height});
        background: rgba($color-dark-gray, 0.85);
        box-shadow: 0 0 10px rgba($color-black, 0.5);
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: $padding * 4;

        >header {
            position: relative;
            z-index: 103;
            padding: 0 $padding;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $color-darker-gray;
            justify-content: space-between;
            height: $content-header-height;
            box-shadow: 0 2px 20px rgba($color-dark-gray, 0.8);

            @media screen and (max-width: $desktop-min) {
                // display: block;
                text-align: justify;

                h2 {
                    margin: 0 auto;
                    justify-content: left;
                }

                >nav {
                    // position: absolute;
                    // top: 11px;
                    // right: 0;
                    text-align: right;
                    display: inline-block;
                    // margin: 0 0 0 auto;
                }
            }

            .title {
                font-size: 28px;
                color: $color-accent;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin: 0 auto 0 10px;
                letter-spacing: 1px;
                white-space: nowrap;

                .detail {
                    font-size: 18px;
                    color: $color-lightest-gray;
                    margin-left: $padding;
                    text-transform: none;
                }
            }

            @media screen and (max-width: $desktop-min) {
                padding: 0;
                height: 50px;

                h2.title {
                    height: 50px;
                    // display: block;
                    text-align: left;
                    font-size: 24px;
                    margin-left: 70px;
                    margin-top: -2px;

                    .detail {
                        margin-left: 10px;
                        font-size: 18px;
                    }
                }
            }
        }

        @media screen and (max-width: $desktop-min) {
            height: calc(100vh - #{$header-height});
            border-radius: 0;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 3*$padding;
            left: 0;
            z-index: 102;
            border-radius: 0 0 10px 10px;
            background: linear-gradient(180deg, rgba($color-dark-gray, 0) 0%, rgba($color-dark-gray, 0.5) 100%);
            pointer-events: none;
        }
    }

    @media print {
        width: 100%;
    }
}

.pagination {
    min-width: 60px;
    margin-left: -10px;
    margin-top: 2px;
    z-index: 300;
    white-space: nowrap;

    a {
        display: inline-block;
        // margin-right: 10px;
        line-height: 55px;
        padding: 0;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;

        i {
            display: flex;
            font-size: 30px;
            color: #666666;
            text-align: center;
            border-radius: 17px;
        }

        &:hover i {
            color: $color-white;
        }
    }

    @media screen and (max-width: $desktop-min) {
        position: absolute;
        height: 50px;
        width: 70px;
        left: 0;
        top: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            i {
                font-size: 24px;
            }
        }
    }
}

.content-frame {
    background: left top fixed;
    position: fixed;
    width: calc(100% - #{$sidebar-expanded});
    transition: width 0s $transition-time*2;
    top: 50px;
    left: 0;
    overflow: hidden;
    min-height: calc(100vh - #{$header-height});
    padding: $padding;

    @media screen and (max-width: $desktop-min) {
        padding: 0;

        .modal-on & {
            top: 0;
            height: 100vh;
        }
    }
}