.filters-group {
  // display: inline-block;
  display: flex;
  // justify-content: flex-end;
  position: relative;
  white-space: nowrap;
  cursor: pointer;

  .nav-trigger {
    color: $color-lightest-gray;
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 0 $padding/4;
    text-transform: uppercase;
    line-height: 1;
    vertical-align: middle;
    padding: $padding/4;
    letter-spacing: 1px;
    z-index: 10;
    text-align: center;
    white-space: nowrap;

    &:after {
      content: '';
      position: absolute;
      height: 2px;
      // background: transparent;
      background: $color-darker-gray;
      top: 50%;
      width: 0;
      left: 50%;
      transition: $transition-time;
      z-index: -1;
    }

    &:hover {
      &:after {
        background: $color-darker-gray;
        top: calc(-#{$padding} / 4);
        height: calc(100% + #{$padding} / 2);
        width: calc(100% + #{$padding} / 2);
        left: calc(-#{$padding} / 4);
        border-radius: 2px;
        border-radius: 100px;
        transition: $transition-time;
      }
    }

    &:active {
      &:after {
        background: $color-accent;
        // background: $color-darker-gray;
        top: calc(-#{$padding} / 4);
        height: calc(100% + #{$padding} / 2);
        width: calc(100% + #{$padding} / 2);
        left: calc(-#{$padding} / 4);
        // border-radius: 2px;
        border-radius: 100px;
        // transition: $transition-time;
      }
    }
    // &:active {
    //     &:after {
    //         background: $color-accent;
    //     }
    // }
    &.active {
      // text-transform: uppercase;
      z-index: 10;

      &:after {
        background: $color-accent;
        width: calc(100% - #{$padding} / 2);
        top: 100%;
        left: $padding / 4;
        transition: 0;
      }

      &:hover {
        &:after {
          background: $color-accent;
          width: 100%;
          top: 100%;
          left: 0;
          height: 2px;
          transition: 0;
          // transition: $transition-time;
        }
      }
    }

    &.disable {
      color: $color-medium-gray;
    }
  }
  @media screen and (max-width: $desktop-min) {
    margin: 0 2px;
  }

  .filter-category {
    display: flex;
    // justify-content: flex-end;
    position: relative;
    margin-left: $padding/2;
    white-space: normal;

    .inner {
      position: relative;
    }
    //
    .filter-header {
      color: $color-medium-gray;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: absolute;
      font-size: 8px;
      top: -17px;
      left: 50%;
      transform: translateX(-50%);
    }

    &.view {
      @media screen and (max-width: $desktop-min) {
        position: absolute;
        margin-left: 0;
        top: 10px;
        right: 20px;
      }
    }
  }
  @media screen and (max-width: $desktop-min) {
    .nav-trigger.month {
      margin-left: 0;
      padding-left: 0;
    }

    .time-filters {
      width: calc(100% - 40px);
    }
  }
}

.nav-trigger {
  i {
    vertical-align: middle;
  }
}

.trigger-box-title {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  white-space: nowrap;
}

.trigger-box-children {
  opacity: 1;
  position: absolute;
  height: auto;
  display: block;
  // right: -5px;
  right: -10px;
  //45 -35   20
  // top: -5px;
  top: -8px;
  background: rgba(lighten($color-darker-gray, 10%), 0.98);
  box-shadow: 0 0 35px 5px rgba(lighten($color-black, 5%), 0.75);
  border-radius: 5px;
  width: 260px;
  padding: $padding* 2 $padding $padding;
  text-align: center;
  z-index: 999;
  transition: opacity 0.3s ease 0, width 0 ease 0;
  animation: open_modal 0.25s ease 1;

  .trigger-box-children {
    background: rgba(lighten($color-darker-gray, 20%), 0.98);
  }

  h4 {
    font-size: 12px;
    margin: 5px 0;
    color: $color-black;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
  }

  br {
    height: 5px;
  }

  a {
    display: block;
    margin-bottom: 10px !important;
    text-transform: uppercase;
  }

  .group {
    a {
      // padding-bottom: 10px !important;
      // margin-bottom: 0px !important;
      min-width: 45px;
    }
  }

  hr {
    border-color: transparent;
    border: none;
    border-top: solid 2px $color-dark-gray;
    width: calc(100% + (2 * $padding));
    margin: 5px (-$padding) 10px;
  }

  .close-button {
    color: $color-light-gray;
    position: absolute;
    padding: $padding/2 $padding;
    right: 0;
    align-items: center;
    top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // height: 26px;
    letter-spacing: 1px;
    z-index: 789234908423790;
    cursor: pointer;
    font-size: 14px;

    i.close {
      color: $color-lighter-gray;
      border-radius: 50px;
      padding: 5px;
      margin: -15px -10px;
      text-align: center;
      &:hover {
      background: rgba($color-dark-gray, 0.5);
      }
    }

    // @media screen and (max-width: $desktop-min) {
    //   display: block;
    // }
  }
}
