@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

/** initial setup **/

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
}

.hidden {
    display: none !important;
}

.label-dot {
    width: $label-dot;
    height: $label-dot;
    display: inline-block;
    border-radius: $label-dot;
}

.react-resizable-handle {
    cursor: ns-resize;
    margin: 0 -10px;
    position: relative;
    height: 10px;
    width: calc(100% + 20px);
    background: rgba(33, 33, 33, 0.4);
    display: block;
    z-index: 1000;

    &:active {
        background: rgba(33, 33, 33, 0.6);
    }

    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background: rgba(33, 33, 33, 0.4);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.pulse {
    opacity: 0;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.35;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.35;
    }
}

.pulse-shadow {
    animation: pulse-shadow 2s infinite;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 5px 10px 5px rgba($color-light-gray, 0.25);
    }

    50% {
        box-shadow: 0 5px 50px 15px rgba($color-light-gray, 0.25);
    }

    100% {
        box-shadow: 0 5px 10px 5px rgba($color-light-gray, 0.25);
    }
}

.start {
    .flatpickr-calendar {
        &.static {
            left: auto;
        }

        &:before,
        &:after {
            right: auto;
            left: 22px;
        }
    }
}

.end {
    .flatpickr-calendar {
        &.static {
            right: 0;
        }

        &:before,
        &:after {
            left: auto;
            right: 22px;
        }
    }
}

span.flatpickr-weekday {
    font-size: 75%;
}

.flatpickr-current-month {
    padding: 4.16px 0 0 0;
}

.PAST-EVENT {
    filter: grayscale(40%);
    opacity: 0.9;

    // &:hover {
    //   transition: $transition-time;
    //   opacity: 0.9;
    // }
}

.searched {
    font-weight: normal;
    text-decoration: none;
    // background: rgba($color-accent,0.15);
    border-bottom: 1px solid $color-accent;
    // text-transform: uppercase;
}

.refreshing {
    background: rgba(0,0,0,.5);
    position: absolute;
    // height: 200px;
    // width: 200px;
    // left: calc(50% - 100px);
    // top: calc(50% - 100px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;



    &:before {
        background: $color-darker-gray;
        content: 'refreshing';
        text-align: center;
        display: flex;
        font-size: 10px;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
        position: absolute;
        border-radius: 60px;
        z-index: 2;
    }
    &:after {
        background: $color-accent;
        content: '';
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        left: calc(50% - 30px);
        top: calc(50% - 30px);
        position: absolute;
        border-radius: 60px;
        z-index: 1;
        transform: scale(1.05);
        animation: up_down 0.5s ease infinite;
    }
}

.circle-anim {
    animation: circle-anim 2s ease infinite;
}

@keyframes up_down {
    0% {
        transform: scale(1.05) translate(2%, 0);
    }

    25% {
        transform: scale(1.05) translate(0, 2%);
    }

    50% {
        transform: scale(1.05) translate(-2%, 0%);
    }

    75% {
        transform: scale(1.05) translate(0%, -2%);
    }

    100% {
        transform: scale(1.05) translate(2%, 0);
    }
}

@keyframes circle-anim {
    0% {
        transform: rotate(0);
    }


    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg)
    }
}


@keyframes open_modal {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes tile {
    0% {
        border-radius: 20px;
        transform: scale(0.95);
        opacity: 0.75;
    }

    100% {
        border-radius: 5px;
        transform: scale(1);
        opacity: 1;
    }
}