@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

/** initial setup **/

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
}

.hidden {
    display: none !important;
}

.label-dot {
    width: $label-dot;
    height: $label-dot;
    display: inline-block;
    border-radius: $label-dot;
}

.react-resizable-handle {
    cursor: ns-resize;
    margin: 0 -10px;
    position: relative;
    height: 10px;
    width: calc(100% + 20px);
    background: rgba(33, 33, 33, 0.4);
    display: block;
    z-index: 1000;

    &:active {
        background: rgba(33, 33, 33, 0.6);
    }

    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background: rgba(33, 33, 33, 0.4);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.pulse {
    opacity: 0;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.35;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.35;
    }
}

.pulse-shadow {
    animation: pulse-shadow 2s infinite;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 5px 10px 5px rgba($color-light-gray, 0.25);
    }

    50% {
        box-shadow: 0 5px 50px 15px rgba($color-light-gray, 0.25);
    }

    100% {
        box-shadow: 0 5px 10px 5px rgba($color-light-gray, 0.25);
    }
}

.start {
    .flatpickr-calendar {
        &.static {
            left: auto;
        }

        &:before,
        &:after {
            right: auto;
            left: 22px;
        }
    }
}

.end {
    .flatpickr-calendar {
        &.static {
            right: 0;
        }

        &:before,
        &:after {
            left: auto;
            right: 22px;
        }
    }
}

span.flatpickr-weekday {
    font-size: 75%;
}

.flatpickr-current-month {
    padding: 4.16px 0 0 0;
}

.PAST-EVENT {
    filter: grayscale(40%);
    opacity: 0.8;

    // &:hover {
    //   transition: $transition-time;
    //   opacity: 0.9;
    // }
}

.searched {
    font-weight: normal;
    text-decoration: none;
    // background: rgba($color-accent,0.15);
    border-bottom: 1px solid $color-accent;
    // text-transform: uppercase;
}