@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

/** initial setup **/

.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
}

.hidden {
    display: none !important;
}

.label-dot {
    width: $label-dot;
    height: $label-dot;
    display: inline-block;
    margin-right: 5px;
    border-radius: $label-dot;
}

.react-resizable-handle {
    cursor: ns-resize;
    margin: 0 -10px;
    position: relative;
    height: 10px;
    width: calc(100% + 20px);
    background: rgba(33, 33, 33, 0.4);
    display: block;
    z-index: 1000;

    &:active {
        background: rgba(33, 33, 33, 0.6);
    }

    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background: rgba(33, 33, 33, 0.4);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.pulse {
  opacity: 0;
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      opacity: 0.35;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.35;
    }
}
