$modal-nav-height: 50px;
$modal-editable-width: 650px;
$modal-width: 650px;

.modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    height: 100vh;
    width: 100%;
    padding-top: 10vh;
    top: 0;
    left: 0;
    z-index: 9001;
    overflow: hidden;

    @media screen and (max-width: $desktop-min) {
        padding-top: 0;
    }

    .modal-wrapper {
        box-shadow: 0 5px 30px 15px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        background-color: rgba($color-black, 0.75);

        &.editable {
            animation: pulse-shadow 2s infinite;
        }

        @media screen and (max-width: $desktop-min) {
            border-radius: 0;
            min-height: 100vh;
        }
    }

    .modal-content {
        width: auto;
        height: auto;
        position: relative;
        display: block;
        min-width: $modal-width - 40px;

        @media screen and (max-width: $desktop-min) {
            width: 100vw;
            min-width: 0;
        }
    }

    .modal-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: $modal-nav-height;

        .modal-handle {
            flex-grow: 1;
            cursor: move;
        }

        .modal-nav-trigger {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $modal-nav-height;
            min-width: $modal-nav-height;
            padding: 0;
            font-size: 1em;
            
            &:hover {
                opacity: 0.9;
            }

            span.text {
                font-size: 13px;
                padding-right: $padding;
                line-height: 1;
                margin-left: -$padding/2;
                padding-left: $padding/4;
            }

            i {
                min-width: 50px;
                text-align: center;
            }

            // border-radius: $modal-nav-height/2;
            cursor: pointer;

            &:hover {
                color: $color-lightest-gray;
            }

            &.active {
                color: $color-yellow;
            }

            &:active {
                color: $color-lighter-gray;
            }
        }
    }

    .event {
        position: relative;
        width: 100% !important;
        max-width: $modal-width;
        overflow: hidden;
        height: auto;
        border-radius: 0;
        margin: 5px;
        margin-top: 0;
        .event-inner {
           .event-info {
                min-height: 370px;
           }
        }

        // pointer-events: auto;
        @media screen and (max-width: $desktop-min) {
            margin: 0;
            max-width: 100vw;

            .event-inner {
                min-height: calc(100vh - 50px);
            }
        }

        &.PAST-EVENT {
            opacity: 1;
            filter: grayscale(0%);
        }

        .more {
            display: none;
        }
    }
}

.activity-log {
    background: lighten($color-lighter-gray, 10%);
    border-top: 1px solid $color-lighter-gray;
    padding: $padding / 4;
    text-align: center;
    // overflow-y: auto;
    // max-height: 8rem;

    h4 {
        // margin-bottom: $padding/2;
        padding: 0 $padding;
        font-size: 80%;
        font-weight: normal;

        // border-bottom: 1px solid $color-light-gray;
   
    }

    .activity {
        // display: flex;
        // justify-content: center;
        padding: $padding / 8;

        &:not(:last-child()) {
            // border-bottom: 1px solid $color-lightest-gray;
        }

        span {
            position: relative;
            display: inline;
            // margin-right: 1rem;

            &:after {
                content: ' ';
            }
        }

        .name {
            font-weight: bold;
        }
    }
}
