.sidebar {
    background: $color-darkish-gray;
    position: fixed;
    width: $sidebar-expanded;
    height: 100%;
    top: 0;
    right: 0;
    // transition: width $transition-time/2, opacity $transition-time*2;
    z-index: 12;
    box-shadow: -4px 0 20px rgba( $color-black, 0.5);

    .print & {
        opacity: 1;
    }

    @media screen and (max-width: $desktop-min) {
        .modal-on & {
          display: none;
        }
    }    

    .scroll-wrapper {
        padding-bottom: 100px;
    }
    //

    .collapsed & {
        width: $sidebar-collapsed;
        > header .icon {
            transform: rotate(-180deg);
        }
    }
    header {
        background: $color-dark-gray;
        position: relative;
        height: $header-height;
        top: 0;
        left: 0;
        padding-left: $padding/2;
        display: flex;
        align-items: center;
        white-space: nowrap;
        // transition: 0;
        // transition-delay: 0;
        cursor: pointer;
        h3 {
            margin-left: $padding/2;
            .collapsed & {
                opacity: 0;
            }
        }
        .collapsed & {
            padding-left: $padding/2;
            .icon {
                // transition: $transition-time;
            }
        }
        .icon {
            transition: $transition-time;
            transform: rotate(0deg);
        }
    }
    &.collapsed {
        width: $sidebar-collapsed;
    }
    .filter {
        position: relative;
        width: $sidebar-expanded;
        border-bottom: 1px solid $color-medium-gray;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $padding*4;
            background: linear-gradient(15deg, rgba($color-light-gray, 0) 0%, rgba($color-light-gray, 0) 50%, rgba($color-light-gray, 0.15) 100%);
            ;
            z-index: 0;
            .print & {
                display: none;
            }
        }
        &.search {}
        > header {
            background: transparent; //$color-darkish-gray;
            height: $filter-header-height;
            &:after {
                content: '\ea6d';
                font: normal normal normal 10px/1 'Nucleo Outline';
                position: absolute;
                height: $filter-header-height;
                width: $filter-header-height;
                left: calc( #{$sidebar-expanded} - #{$filter-header-height});
                top: 0;
                transition: $transition-time/4;
                @include flex-center();
                opacity: 0;
                transform: rotate(0deg);
                .collapsed & {
                    opacity: 0;
                }
            }
            &:hover {
                .icon {
                    transform: scale(1.05);
                }
                &:after {
                    opacity: 1;
                }
            }
        }
        .content {
            position: relative;
            width: $sidebar-expanded;
            padding: $padding/2;
            padding-top: 0;
            text-align: left;
            opacity: 1;
        }
        .brand-filters {
            position: relative;
            // height: 255px;
            &:before {
                content: '';
                position: absolute;
                height: $padding;
                width: 100%;
                top: 0;
                left: 0;
                pointer-events: none;
                z-index: 1000;
                background: linear-gradient(to top, rgba($color-darkish-gray, 0) 0%, rgba($color-darkish-gray, 1) 100%);
            }

            img {
                width: 100%;
                height: auto;
            }

            .st1 {
                fill: $color-white;
            }
            &.all {
                .scroll-wrapper {
                    padding-top: $padding/2;
                }
            }
        }
        &.collapsed {
            > header {
                &:after {
                    transform: rotate(-180deg);
                }
            }
            & > .content {
              height: 0;
              overflow: hidden;
              padding: 0 !important;
            }
            &:hover {
                footer {
                    height: 0;
                }
            }
            footer {
                height: 0;
            }
        }
        footer {
            box-shadow: inset 0 2px 2px rgba($color-darker-gray, 0.3);
            width: 320px;
            margin-left: -10px;
            background: rgba($color-dark-gray, 0.2);
            height: 0;
            overflow: hidden;
            text-align: center;
            padding: 0;
            transition: height $transition-time;
            @media screen and (max-width: $desktop-min) {
                height: 40px;
            }
            span {
                margin: 5px;
            }
        }
        &:hover {
            footer {
                height: 40px;
            }
        }
    }
    > header {
        .collapsed & {
            background: $color-black;
            width: $sidebar-expanded + 100px;
            transform: translateX(-50px);
            transition: $transition-time/2 ease;
        }
    }
}

.brand-category {
    // display: none;
    h4 {
        text-align: center;
        margin: 10px auto 5px;
        width: auto;
        display: block;
        overflow: hidden;
        span {
            position: relative;
            width: auto;
            margin: 0 auto;
            display: inline-block;
            &:before,
            &:after {
                content: '';
                width: 1250%;
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 115%;
                border-bottom: 1px solid $color-light-gray;
            }
            &:before {
                left: auto;
                right: 115%;
            }
        }
    }
    &.active {
        display: block;
        .all & {
            h4 {
                display: none;
            }
            display: inline;
        }
    }
}

.badge {
    // font-size: 0.5em;
    // background: $color-white;
    // color: $color-black;
    // display: inline-block;
    // border-radius: 50%;
}

.parenthesis {
    opacity: 0.8;
    &:before {
        content: '(';
    }
    &:after {
        content: ')';
    }
}

.filter-wrap-brands .content {
    label {
        white-space: nowrap;
        max-width: 88px;
    }
    &:after {
        content: '';
        position: absolute;
        height: $padding*2;
        width: 100%;
        bottom: $padding/2;
        left: 0;
        pointer-events: none;
        z-index: 1000;
        background: linear-gradient(to bottom, rgba($color-darkish-gray, 0) 0%, rgba($color-darkish-gray, 1) 100%);
        .print & {
            display: none;
        }
    }
    .scroll-wrapper {
        padding-bottom: 0;
    }
}


.content.channels-filters {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
