.sidebar {
  background: rgba($color-darkish-gray, 0.8);
  position: fixed;
  width: $sidebar-expanded;
  height: 100%;
  top: 0;
  right: 0;
  transition: transform $transition-time*2;
  z-index: 12;
  box-shadow: -4px 0 30px rgba($color-black, 0.5);

  .nano {
    height: calc(100% - #{$header-height});
  }

  &.disabled {
      filter: grayscale(60%) contrast(60%) brightness(60%);
      // opacity: 0.5;
      pointer-events: none;
  }

  @media screen and (max-width: $desktop-min) {
      transition: $transition-time;
      opacity: 0.95;
    .modal-on & {
      display: none;
    }
  }

  .scroll-wrapper {
    padding-bottom: 100px;
  }

  .collapsed & {
    transform: translateX(100%);
  }

  header {
    background: $color-dark-gray;
    position: relative;
    height: $header-height;
    top: 0;
    left: 0;
    padding-left: $padding/2;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;

    h3 {
      margin-left: $padding/2;
      line-height: 1;
    }

    .collapsed & {
      padding-left: $padding/2;
    }
  }

  &.collapsed {
    width: $sidebar-collapsed;
  }

  .filter {
    position: relative;
    width: $sidebar-expanded;
    border-bottom: 1px solid $color-medium-gray;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $padding*4;
      background: linear-gradient(15deg, rgba($color-light-gray, 0) 0%, rgba($color-light-gray, 0) 50%, rgba($color-light-gray, 0.15) 100%);
      z-index: 0;

      .print & {
        display: none;
      }
    }

    > header {
      background: transparent; //$color-darkish-gray;
      height: $filter-header-height;

      &:after {
        content: '\ea6d';
        font: normal normal normal 10px/1 'Nucleo Outline';
        position: absolute;
        height: $filter-header-height;
        width: $filter-header-height;
        left: calc(#{$sidebar-expanded} - #{$filter-header-height});
        top: 0;
        // transition: $transition-time/4;
        @include flex-center();
        opacity: 0;
        transform: rotate(0deg);

        .collapsed & {
          opacity: 0;
        }
      }

      &:hover {
        .icon {
          transform: scale(1.05);
        }

        &:after {
          opacity: 1;
        }
      }
    }

    .content {
      position: relative;
      width: $sidebar-expanded;
      padding: 0 $padding/2 $padding/2;
      text-align: left;
      opacity: 1;
    }

    .brand-cat-filters {
      margin-bottom: $padding/2;
    }

    .brand-filters {
      position: relative;
      // height: 255px;
      // &:before {
      //   content: '';
      //   border-radius: 20px 20px 0 0;
      //   position: absolute;
      //   height: 100px;
      //   width: 100%;
      //   top: -36px;
      //   left: 0;
      //   pointer-events: none;
      //   z-index: -1;
      //   background: linear-gradient(to top, rgba($color-darkish-gray, 0) 0%, rgba($color-darkish-gray, 1) 50%, rgba($color-darkish-gray, 1) 100%);
      // }

      img {
        width: 100%;
        height: auto;
      }

      .st1 {
        fill: $color-white;
      }

      &.all {
        .scroll-wrapper {
          padding-top: $padding/2;
        }
      }
    }

    &.collapsed {
      > header {
        &:after {
          // transform: rotate(-180deg);
        }
      }

      & > .content {
        height: 0;
        overflow: hidden;
        padding: 0 !important;
      }

      &:hover {
        footer {
          height: 0;
        }
      }

      footer {
        height: 0;
      }
    }

    footer {
      box-shadow: inset 0 2px 2px rgba($color-darker-gray, 0.3);
      width: 320px;
      margin-left: -10px;
      background: rgba($color-dark-gray, 0.2);
      height: 0;
      overflow: hidden;
      text-align: center;
      padding: 0;
      transition: height $transition-time;
      @media screen and (max-width: $desktop-min) {
        height: 40px;
      }

      span {
        margin: 5px;
      }
    }

    &:hover {
      footer {
        height: 40px;
      }
    }
  }

  > header {
    .collapsed & {
      background: darken($color-darker-gray, 5);
      border-radius: $header-height 0 0 $header-height;
      // background: transparent;
      width: $sidebar-expanded + 100px;
      transform: translateX(-125px);
      // transition: $transition-time ease;
      @media only screen and (max-width:$phone-max) {
        transform: translateX(-50px);
        width: $header-height;
        h3 {
          display: none;
        }
      }
    }
  }
}

.brand-category {
  // display: none;
  h4 {
    text-align: center;
    margin: 10px auto 5px;
    width: auto;
    display: block;
    overflow: hidden;

    span {
      position: relative;
      width: auto;
      margin: 0 auto;
      display: inline-block;

      &:after,
      &:before {
        content: '';
        width: 1250%;
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 115%;
        border-bottom: 1px solid $color-light-gray;
      }

      &:before {
        left: auto;
        right: 115%;
      }
    }
  }

  &.active {
    display: block;

    .all & {
      h4 {
        display: none;
      }
      display: inline;
    }
  }
}

.parenthesis {
  opacity: 0.8;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

.filter-wrap-brands .content {
  label {
    white-space: nowrap;
    max-width: 88px;
  }

  &:after {
    content: '';
    position: absolute;
    height: $padding;
    width: 100%;
    bottom: $padding/2;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba($color-dark-gray, 0) 0%, rgba($color-dark-gray, 0.5) 100%);

    .print & {
      display: none;
    }
  }

  .scroll-wrapper {
    padding-bottom: 0;
  }
}

.content.channels-filters {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}
