.months-bar {
    position: fixed;
    height: $months-bar-height;
    background: $color-darker-gray;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 $padding*2;
    letter-spacing: 1px;
    text-align: left;
    z-index: 102;
    box-shadow: 0 0 20px rgba($color-dark-gray, 0.8);
    // transition: $transition-time/2;
    width: calc( 100% - #{$sidebar-expanded} - #{$padding} * 2);
    .collapsed & {
        width: calc( 100% - #{$padding} * 2);
    }
    //
    @media screen and (max-width: $desktop-min) {
        width: 100%;
        padding: 0 10px;
        .collapsed & {
            width: 100%;
        }
    }
    a {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        cursor: pointer;
        line-height: 25px;
        vertical-align: middle;
        text-align: center;
        transition: $transition-time;
        border-bottom: 3px solid transparent;
        &:hover {
            background: rgba($color-light-gray, 0.2);
        }
        &.linted {
            // background: $color-medium-gray;
            border-bottom: 3px solid $color-accent;
        }
    }
}

.YEAR .hidden-mobile,
.YEAR-18 .hidden-mobile,
.YEAR-17 .hidden-mobile {
    @media screen and (max-width: $desktop-min) {
        display: none !important;
    }
}

.timeline-view {
    .months-lines {
        background: rgba($color-medium-gray, 0.6);
        position: absolute;
        top: 0; //$content-header-height + $months-bar-height;
        left: 0;
        height: calc( 100% - #{$content-header-height} - #{$months-bar-height});
        min-height: 100vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0 $padding * 2;
        z-index: 0;
        .line {
            position: relative;
            opacity: 0.5;
            // transition: $transition-time/2;
            border-left: 1.5px dashed $color-dark-gray;
            flex-grow: 1;
            width: 0%;
            &:last-child {
                border-right: 1.5px dashed $color-dark-gray;
            }
            &.linted {
                background: rgba($color-light-gray, 0.2);
                border-left-color: $color-dark-gray;
                & + .line {
                    border-left-color: $color-dark-gray;
                }
            }
        }
        .main.Q1-18 &,
        .main.Q2-18 &,
        .main.Q3-18 &,
        .main.Q4-18 &,
        .main.Q1-17 &,
        .main.Q2-17 &,
        .main.Q3-17 &,
        .main.Q4-17 & {
            justify-content: flex-start;
        }
        @media screen and (max-width: $desktop-min) {
            padding: 0 10px;
        }
        .line-today {
            position: absolute;
            top: 0;
            left: 0%;
            width: 2px;
            background: rgba($color-green, 0.5);
            height: 100%;
            box-shadow: 0 0 10px 0 rgba( #fff, 0.1);
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                left: 50%;
                background: rgba($color-green, 1);
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
    }
    .event-channels,
    .event-dates,
    .brands {
        display: none;
    }
    .events-wrapper {
        min-height: 100%;
        position: relative;
        width: 100%;
        z-index: 101;
        padding-top: $padding/2;
        padding-bottom: $padding*9;
        .event {
            position: relative;
            height: 64px;
            border-bottom: 2px solid rgba($color-dark-gray, 0.5); //$color-light-gray;
            margin: 0;
            width: 100%;
            // margin-bottom: $padding/2;
            padding: $padding*0.75 0;
            text-align: center;
            cursor: pointer;
            &.hovered,
            &:hover {
                background: rgba($color-light-gray, 0.2);
                .event-info {
                    background: darken($event-info-bg, 20%);
                    transform: scale(1.02);
                    &:after {
                        border-top-color: darken($event-info-bg, 20%);
                    }
                }
            }
        }
    }
    .event-info {
        position: relative;
        background: $event-info-bg;
        width: auto;
        min-width: 80%;
        max-width: 80%;
        padding: $padding/4 $padding*.75;
        border-radius: 15px;
        text-align: center;
        display: inline-block;
        margin: 0 10%;
        // transition: $transition-time/2;
        height: auto;
        .info-wrapper {
            margin: 0;
            padding: 0;
            height: calc( #{$event-timiline-info-box} - #{$padding}/2);
            position: relative;
            color: $color-white;
            font-size: 13px;
            letter-spacing: 1px;
            overflow: hidden;
            z-index: 10;
            // transition: $transition-time/3 linear;
            p {
                color: inherit;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: calc( 50% - #{$triangle-size});
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $triangle-size $triangle-size 0 $triangle-size;
            border-color: $event-info-bg transparent transparent transparent;
            z-index: 0;
        }
        &.expanded {
            .info-wrapper {
                height: calc( 80px - #{$padding});
            }
        }
    }
    .timeframe {
        // max-width: 300px;
    }
    .tabs {
        display: none !important;
    }
    .nano {
        top: 25px;
    }

    .event.MULTIDATE {
        padding-bottom: 75px;

        .timeline-2 {
            bottom: 25px;
            .event-timeline:before {
                content: 'STAY';
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 23px;
            background: rgba($color-dark-gray, 0.5);
            z-index: -1;
        }


        .event-timeline:before {
            background: $color-medium-gray;
            content: 'SELL';
            position: absolute;
            height: 15px;
            right: calc(100% + 25px);
            top: -6px;
            letter-spacing: 1.5px;
            line-height: 16px;
            font-size: 8px;
            padding: 2px 6px;
            border-radius: 3px 0 0 3px;
            overflow: hidden;

            .print & {
                background: $color-white;
                color: $color-medium-gray;
                border: 1px solid $color-medium-gray;
                border-right-color: $color-white;
            }
        }

        .event-timeline:after {
            background: $color-medium-gray;
            content: ' ';
            position: absolute;
            right: calc(100% + 18px);
            transform: rotate(45deg);
            height: 13px;
            width: 13px;
            z-index: -1;
            top: -3px;
            .print & {
                background: $color-white;
                color: $color-medium-gray;
                border-right: 1px solid $color-medium-gray;
                border-top: 1px solid $color-medium-gray;
            }
        }
    }
}


.timeline-wrapper {
    position: absolute;
    bottom: 0px;
    height: 10px;
    .YEAR &,
    .YEAR-18 &,
    .YEAR-17 &,
    .Q1-18 &,
    .Q2-18 &,
    .Q3-18 &,
    .Q4-18 &,
    .Q1-17 &,
    .Q2-17 &,
    .Q3-17 &,
    .Q4-17 & {
        width: calc(100% - #{$padding*4});
        left: $padding*2;
        @media screen and (max-width: $desktop-min) {
            width: calc(100% - #{$padding});
            left: $padding/2;
        }
    }
    .main.Q1-18 &,
    .main.Q2-18 &,
    .main.Q3-18 &,
    .main.Q4-18 &,
    .main.Q1-17 &,
    .main.Q2-17 &,
    .main.Q3-17 &,
    .main.Q4-17 & {
        width: calc(400% - #{$padding*16});
        left: $padding*2;
        @media screen and (max-width: $desktop-min) {
            width: calc(400% - #{($padding/4)*16});
            left: $padding/2;
        }
    }
    .main.Q1-18 & {
        transform: translateX( 0 * -25%);
    }
    .main.Q2-18 & {
        transform: translateX( 1 * -25%);
    }
    .main.Q3-18 & {
        transform: translateX( 2 * -25%);
    }
    .main.Q4-18 & {
        transform: translateX( 3 * -25%);
    }
    .main.Q1-17 & {
        transform: translateX( 0 * -25%);
    }
    .main.Q2-17 & {
        transform: translateX( 1 * -25%);
    }
    .main.Q3-17 & {
        transform: translateX( 2 * -25%);
    }
    .main.Q4-17 & {
        transform: translateX( 3 * -25%);
    }
}

.event-timeline {
    position: absolute;
    border-bottom: 6px solid transparent; //$event-timeline-weight solid transparent;
    bottom: -3px;
    left: 0%;
    margin: 0;
    padding: 0;
    z-index: 10;
    &.dotted {
        border-bottom-style: dashed;
        border-bottom-width: 2px;
        bottom: -2px;
        i.start,
        i.end {
            top: -9px;
        }
    }
    .US & {
        border-color: $color-US;
    }
    .US-WEST & {
        border-color: $color-US-WEST;
    }
    .US-EAST & {
        border-color: $color-US-EAST;
    }
    .CALA & {
        border-color: $color-CALA;
    }
    .CANADA & {
        border-color: $color-CANADA;
    }
    .BRAND & {
        border-color: $color-BRAND;
    }
    .PORTFOLIO & {
        border-color: $color-PORTFOLIO;
    }
    .LOYALTY & {
        border-color: $color-LOYALTY;
    }
    &.one-month {
        min-width: 0;
        max-width: 0;
        i.end,
        > &:after {
            display: none;
        }
    }
    i.start,
    i.end {
        // display: none;
        position: absolute;
        top: -7px;
        width: $event-timeline-weight*2 + 1px;
        height: $event-timeline-weight*2 + 1px;
        background: $color-medium-gray;
        border: 2px solid $color-medium-gray;
        border-radius: $event-timeline-weight;
        .print & {
            background: white;
        }
        &:before {
            content: attr(data-day);
            position: absolute;
            top: 0px;
            left: -2px;
            width: $event-timeline-weight*2 + 1px;
            height: $event-timeline-weight*2 + 1px;
            font-size: $event-timeline-text;
            vertical-align: middle;
            text-align: center;
            white-space: nowrap;
            text-transform: uppercase;
            color: rgba($color-white, 0.75);
            font-weight: 600;
            margin: 0;
            z-index: 20;
            text-shadow: 0 0 5px rgba($color-dark-gray, 0.5);
            .print & {
                color: black;
                text-shadow: none;
            }
        }
        .US & {
            border-color: $color-US;
        }
        .US-WEST & {
            border-color: $color-US-WEST;
        }
        .US-EAST & {
            border-color: $color-US-EAST;
        }
        .CALA & {
            border-color: $color-CALA;
        }
        .CANADA & {
            border-color: $color-CANADA;
        }
        .BRAND & {
            border-color: $color-BRAND;
        }
        .PORTFOLIO & {
            border-color: $color-PORTFOLIO;
        }
        .LOYALTY & {
            border-color: $color-LOYALTY;
        }
    }
    i.start {
        left: -$event-timeline-weight;
        right: auto;
        z-index: 5;
    }
    i.end {
        right: -$event-timeline-weight;
        left: auto;
        z-index: 4;
    }
}

body.linted .timeline-view .event {
    opacity: 0.25;
    filter: blur(1px);
    z-index: 9;
    pointer-events: none;
    &.linted {
        opacity: 1;
        filter: blur(0);
        z-index: 10;
        pointer-events: auto;
    }
}

.event.blurred {
    opacity: 0.25;
    filter: blur(1px);
    z-index: 9;
    pointer-events: none;
}

.event .wrong-date {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    width: auto;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    background: #e71212;
    color: black;
    opacity: 0.75;
    display: none;
    .debug & {
        display: block;
    }
}

.event .id {
    &:before {
        content: 'id: ';
    }
    color: $color-light-gray;
    border: 1px solid $color-light-gray;
    font-size: 10px;
    padding: 0 5px;
    border-radius: 5px;
    display: none;
    .debug & {
        display: inline-block;
    }
}

.PAST-EVENT {
    filter: grayscale(40%);
    opacity: 0.6;
}

// .timeline-view
body.activity-type .activity-type-group {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 10px;
    overflow: hidden;
    // height: 130px !important;
    // padding-top: 80px !important;
    &:before {
        content: attr(data-activity-type);
        position: absolute;
        font-size: 120%;
        top: 30px;
        left: 50%;
        padding: 0 15px;
        border-radius: 20px;
        background: rgba($color-medium-gray, 1);
        text-transform: capitalize;
        transform: translateX(-50%);
    }
}

.months-bar a,
.months-lines .line {
    .Q1-18 &,
    .Q1-17 & {
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        {
            display: none;
        }
    }
    .Q2-18 &,
    .Q2-17 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        {
            display: none;
        }
    }
    .Q3-18 &,
    .Q3-17 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(10),
        &:nth-child(11),
        &:nth-child(12),
        {
            display: none;
        }
    }
    .Q4-18 &,
    .Q4-17 & {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        {
            display: none;
        }
    }
}

.months-lines .line {
    .Q1-18 &,
    .Q1-17 & {
        &:nth-child(3) {
            border-right: 1.5px dashed $color-dark-gray;
        }
    }
    .Q2-18 &,
    .Q2-17 & {
        &:nth-child(6) {
            border-right: 1.5px dashed $color-dark-gray;
        }
    }
    .Q3-18 &,
    .Q3-17 & {
        &:nth-child(9) {
            border-right: 1.5px dashed $color-dark-gray;
        }
    }
    .Q4-18 &,
    .Q4-17 & {
        &:nth-child(12) {
            border-right: 1.5px dashed $color-dark-gray;
        }
    }
}

.modal {
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9001;
    overflow-y: hidden !important;
    pointer-events: none;
    cursor: pointer;
    @media screen and (max-width: $phone-max) {
        background: rgba($color-black, 0.5);
        pointer-events: auto;
    }
    .event {
        transform: translate( -50%, -50%) scale(0.8) !important;
        min-width: 280px !important;
        width: 50% !important;
        max-width: 350px;
        overflow: visible !important;
        margin: 0 !important;
        opacity: 0;
        pointer-events: auto;
        .more {
            display: none;
        }
        &.elevated {
            transform: translate( -50%, -50%) scale(1.1) !important;
        }
    }
}
